@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

/* :root[data-theme="dark"] {
	input,
	textarea,
	select {
		background: #020616;
		border: 0px solid #4b5563;
		color: #f8fafb;
	}
} */

@theme inline {
	--color-ats-green-500: #2c5530;
	--color-ats-yellow-500: #ffc857;
	--color-ats-secondary-bg: #f8f7ff;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	input,
	textarea,
	select {
		background: #020616;
		border-color: #4b5563;
		color: #f8fafb;
	}
	div {
		color: #e5e7eb;
	}
	form {
		background-color: oklch(20.8% 0.042 265.755);
	}
	main,
	header {
		background-color: oklch(12.9% 0.042 264.695);
	}
	.leaflet-tile-container {
		filter: brightness(0.8);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.card-scroll {
	animation: card_scroll 12s ease-in-out infinite alternate;
}

@keyframes card_scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes ape-slide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.ape-marquee {
	position: relative;
	overflow: hidden;
}

.ape-marquee-inner {
	display: inline-block;
	white-space: nowrap;
	animation: ape-slide 40s linear infinite;
	will-change: transform;
}
